.page-header
  %h1=t '.title', default: "Topics"
%table.table.table-striped
  %thead
    %tr
      - @headings.each do |column_name, header_name|
        %th= sort_link header_text: header_name, sort_column: column_name
  %tbody
    - @topic_sections.each do |section|
      %tr
        %th{colspan: @headings.size}= section.to_s.humanize.titleize
      = render "topic_list", topics: eval("@#{section}"), section: section

= link_to t('.new', :default => t("helpers.links.new")), new_topic_path, :class => 'btn btn-primary'
